/* Mobile First */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body {
    margin: 0; /*margin reset */
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
}

main > img {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0 ;
}

.order-summary {
    padding: 3vh;
}

.order-summary > h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

/* Color Palete */

.blank {
    /* - Pale blue */
    color: hsl(225, 100%, 94%);
    /* - Bright blue */
    color: hsl(245, 75%, 52%);
    /* - Very pale blue */
    color: hsl(225, 100%, 98%);
    /* - Desaturated blue */
    color: hsl(224, 23%, 55%);
    /* - Dark blue */
    color: hsl(223, 47%, 23%);
}

/* Credits */
.attribution {
    position: absolute;
    bottom: 8px;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}