/* Mobile First */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body {
    margin: 0; /*margin reset */
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);

}

main {
    display: flex;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    background-color: hsl(225, 100%, 98%);
}

main > img {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0 ;
}

.order-summary {
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 3vh;
    gap: 3vh;
}

.order-header {
    padding-top: 2vh;
    font-size: 24px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin: 0;
}

.order-info {
    margin: 0;
    color: hsl(224, 23%, 55%);
    padding: 0 3vw;
    line-height: 4vh;
}

.chosen-plan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: .5rem;
    background-color: hsl(225, 100%, 96%);
    padding: 5%;
}

.plan-type {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 4vw;
}

.plan-type > p {
    margin: 0;
}

.period-plan {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.plan-price {
    color: hsl(224, 23%, 55%);
}

.chosen-plan > a {
    font-size: 14px;
    font-weight: 900;
    color: hsl(260, 65%, 39%);
} 

.buttons {
    display: flex;
    flex-direction: column;
}
.checkout-btn {
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    border: 0;
    border-radius: .75rem;
    font-weight: 700;
    height: 8vh;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.cancel-btn {
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    border: 0;
    border-radius: .75rem;
    font-weight: 700;
    height: 8vh;
}
/* Color Palete */

.blank {
    /* - Pale blue */
    color: hsl(225, 100%, 94%);
    /* - Bright blue */
    color: hsl(245, 75%, 52%);
    /* - Very pale blue */
    color: hsl(225, 100%, 98%);
    /* - Desaturated blue */
    color: hsl(224, 23%, 55%);
    /* - Dark blue */
    color: hsl(223, 47%, 23%);
}

/* Credits */
.attribution {
    position: absolute;
    bottom: 8px;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}